__mocks__
__tests__

coverage
doc
node_modules

.github
.devcontainer
.eslintrc.yaml
.gitattributes
.prettierignore
.prettierrc

CODE_OF_CONDUCT.md
COMMIT_MESSAGES.md
CONTRIBUTING.md
DEPENDENCIES.md

jest.config.json

*.spec.js
*.test.js
*.tgz
